<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="Console">
            <PatternLayout pattern="[%p] %d %c{2} [%t] %l %m%n"/>
        </Console>
        <File name="File" fileName="target/logs/debug.log">
            <PatternLayout pattern="[%p] %d %c{2} [%t] %l %m%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="Console" level="info"/>
            <AppenderRef ref="File" level="debug"/>
        </Root>
    </Loggers>
</Configuration>